# Example configuration file that:
#  - Has a private registry
#  - Ignores lodash dependency
#  - Disables version-updates
#  - Defines a group by package name, for security updates for golang dependencies

version: 2
updates:
  - package-ecosystem: npm
    directories:
      - /
      - /src/backend
      - /src/frontend
    schedule:
      interval: daily
    commit-message:
      prefix: "chore(dep): "
    open-pull-requests-limit: 10
    target-branch: main
    labels:
      - dependencies
    # IMPORTANT: The group IDs are used in auto-merge workflow. Make sure to update the
    # references in your workflow to match the group IDs if you decide to change them.
    groups:
      safe-updates-version:
        applies-to: version-updates
        update-types:
          - patch
      safe-updates-dev-version:
        update-types:
          - patch
          - minor
        patterns:
          - "@antfu/eslint-config"
          - "@commitlint/*"
          - eslint
          - husky
          - lint-staged
      safe-updates-security:
        applies-to: security-updates
        update-types:
          - patch
          - minor

  - package-ecosystem: docker
    directories:
      - /src/backend
      - /src/frontend
    schedule:
      interval: daily
    commit-message:
      prefix: "chore(dep): "
    open-pull-requests-limit: 10
    target-branch: main
    labels:
      - dependencies
    # IMPORTANT: The group IDs are used in auto-merge workflow. Make sure to update the
    # references in your workflow to match the group IDs if you decide to change them.
    groups:
      safe-updates-version:
        applies-to: version-updates
        update-types:
          - patch
      safe-updates-security:
        applies-to: security-updates
        update-types:
          - patch
          - minor

  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: daily
    commit-message:
      prefix: "chore(dep): "
    open-pull-requests-limit: 10
    target-branch: main
    labels:
      - dependencies
    # IMPORTANT: The group IDs are used in auto-merge workflow. Make sure to update the
    # references in your workflow to match the group IDs if you decide to change them.
    groups:
      safe-updates-version:
        applies-to: version-updates
        update-types:
          - patch
          - minor
      safe-updates-security:
        applies-to: security-updates
        update-types:
          - patch
          - minor
