{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "fix",
        "chore",
        "docs"
      ]
    ],
    "scope-enum": [
      2,
      "always",
      [
        "frontend",
        "backend",
        "cicd",
        "security"
      ]
    ],
    "type-empty": [2, "never"],
    "scope-empty": [1, "never"],
    "body-max-length": [1, "always", 100]
  }
}
