html, body {
	text-transform: uppercase;
}

.s-brand {
	text-transform: uppercase;
}

.hide-link {
	text-decoration: none !important; color: inherit !important;
}

.underline {
  border-bottom: 1px solid;
}

.plain {
  text-decoration: none;
  color: inherit;
}
