name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize]
    paths-ignore:
      - "src/**"

jobs:
  lint-commits:
    if: ${{ !contains(github.event.pull_request.title, 'chore(deps)') || !contains(github.event.pull_request.title, 'chore(dep)') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          fetch-depth: 0 # fetch all history for commitlint

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: npm install

      - name: Lint PR commits
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Lint PR title
        run: echo "${{ github.event.pull_request.title }}" | npx npx commitlint

  lint-code:
    if: ${{ !contains(github.event.pull_request.title, 'chore(deps)') || !contains(github.event.pull_request.title, 'chore(dep)') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint

  scan-security:
    if: ${{ !contains(github.event.pull_request.title, 'chore(deps)') || !contains(github.event.pull_request.title, 'chore(dep)') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Scan for hard-coded secrets
        id: secrets
        uses: trufflesecurity/trufflehog@7c0734f987ad0bb30ee8da210773b800ee2016d3 # v3.93.4

      - name: Scan for vulnerable code
        id: code
        uses: bearer/bearer-action@828eeb928ce2f4a7ca5ed57fb8b59508cb8c79bc # v2
        with:
          diff: true
          severity: "critical,high"
          exit-code: "1"

      - name: Scan for vulnerable dependencies
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        id: deps
        with:
          scan-type: fs
          scanners: vuln
          severity: "CRITICAL,HIGH"
          exit-code: "1"

      - name: Scan for vulnerable configs
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        id: configs
        with:
          scan-type: fs
          scanners: misconfig
          severity: "CRITICAL,HIGH"
          exit-code: "0" # Configs are not as critical, so we don't fail the build on them

  test-build:
    if: ${{ !contains(github.event.pull_request.title, 'chore(deps)') || !contains(github.event.pull_request.title, 'chore(dep)') }}
    name: Build and test ${{ matrix.app }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [frontend, backend]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: src/${{ matrix.app }}/package.json

      - name: install deps
        working-directory: src/${{ matrix.app }}
        run: npm install

      - name: build
        working-directory: src/${{ matrix.app }}
        run: npm run build
